# -------------------------
# Python
# -------------------------
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env

# -------------------------
# Database Files
# -------------------------
billing.db
*.db

# -------------------------
# Logs
# -------------------------
evaluation_log.json

# -------------------------
# Raw Data Files
# -------------------------
data/
*.xls
*.xlsx

# -------------------------
# Streamlit
# -------------------------
.streamlit/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db